@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.btn-primary{
    background-color: rgb(224, 44, 109);
    color: white;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    display: flex;
    gap: 12px;
}


/* header section styles */
.banner-container{
    width: 100%;
    background-color: rgb(45, 37, 160);
    padding-top: 42px;
    padding-bottom: 82px;
}

.navigation-container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navigation{
    margin-top: 10px;
}

.navigation>i{
    display: none;
    color: white;
    width: 24px;
    height: 24px;
}

.navigation ul{
    display: flex;

    gap: 36px;
}

.navigation li{
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.navigation-container button>img{
    width: 20px;
    height: 20px;
}

.banner-content{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 102px;
    margin-top: 49px;
}

.banner-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;
}

.banner-text-content h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: 80px;
}

.banner-text-content button>i{
    width: 16px;
    height: 14px;
}

.banner-content img{
    width: 556.01px;
    height: 438px;
}


/* player card section styles */
.player-card-container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
}

.player-card{
    padding: 15px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.player-card img{
    width: 100%;
    margin-bottom: 16px;
}

.player-card h4{
    color: rgb(24, 25, 31);
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.player-card p{
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}


/* highlights section styles */
.highlights-container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 165px;
    display: flex;
    gap: 69px;
    align-items: center;
}

.highlights-text-content h2{
    color: rgb(10, 8, 38);
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 8px;
}

.highlights-text-content p{
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px ;
}

.highlights-container img{
    width: 570px;
    height: 100%;
}


/* footer section styles */
.footer-container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 63px;
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer-container>img{
    width: 483.87px;
    height: 110px;
}

.social-media{
    display: flex;
    gap: 14px;
}

.social-media img{
    width: 32px;
    height: 32px;
}

.footer-container>h6{
    font-size: 1.125rem;
    font-weight: 500;
}





